{% load static %}
<style>
    
  
    .hover-effect:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color:white;   
    }
  </style>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4">
      <!-- Card 1: Artist -->
      <div class="col">
        <div class="card border-0 hover-effect" style="width: 90%; height: 150px;">
          <img src="https://media.gettyimages.com/id/1250221585/photo/in-this-picture-taken-on-march-31-bollywood-play-back-singer-shreya-ghoshal-poses-for.jpg?s=612x612&w=0&k=20&c=9nvfPfl4D73i6bfgCJTxQAot7M39Mnzp8kMQnKmxnHs=" 
               alt="Shreya Ghoshal" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
            <h6 class="card-title fs-6 text-white">Shreya Ghoshal</h6>
          </div>
        </div>
      </div>
  
      <!-- Card 2: Artist -->
      <div class="col">
        <div class="card border-0" style="width: 90%; height: 150px;">
          <img src="https://media.gettyimages.com/id/970201088/photo/indian-bollywood-playback-singer-amit-kumar-performs-live-during-a-concert-dedicated-to-his.jpg?s=612x612&w=0&k=20&c=EwOOLtBIkkeRHzTPpbN1B-NXNGeNznwzC6a9y6j-ibE=" 
               alt="Javed Ali" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
            <h6 class="card-title fs-6 text-white">Amit Kumar</h6>
          </div>
        </div>
      </div>
  
      <!-- Card 3: Artist -->
      <div class="col">
        <div class="card border-0" style="width: 90%; height: 150px;">
          <img src="https://media.gettyimages.com/id/874104836/photo/mumbai-india-bollywood-singer-arijit-singh-performs-during-live-in-concert-at-mmrda-grounds.jpg?s=612x612&w=0&k=20&c=rUsrrpRzX1Eslo8mJdh6Vw2IA7ciZTqyfqwfAjLRmC8=" 
               alt="Shankar Mahadevan" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
            <h6 class="card-title fs-6 text-white">Arijit Singh</h6>
          </div>
        </div>
      </div>
  
      <!-- Card 4: Artist -->
      <div class="col">
        <div class="card border-0" style="width: 90%; height: 150px;">
          <img src="https://media.gettyimages.com/id/931484694/photo/new-delhi-india-march-8-2008-famous-bollywood-singer-shaan-performing-at-nsic-ground-at-nehru.jpg?s=612x612&w=0&k=20&c=MxWdlVcTmY_9QgKntlv3ukHw5R1W9CbO0GJ8qWr3xd8=" 
               alt="Shaan Mukherjee" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
            <h6 class="card-title fs-6 text-white">Shaan Mukherjee</h6>
          </div>
        </div>
      </div>
  
      <!-- Card 5: Artist -->
      <div class="col">
        <div class="card border-0" style="width: 90%; height: 150px;">
          <img src="https://media.gettyimages.com/id/1077152184/photo/bollywood-singer-neha-kakkar-performs-during-an-event-at-sarusajai-stadium-in-guwahati-assam.jpg?s=612x612&w=0&k=20&c=Vu5mBovcbel-ZoBs9Y8n-cVq0unpAKii4uu5dxWvi9o=" 
               alt="Honey Singh" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
            <h6 class="card-title fs-6 text-white">Neha Kakkar</h6>
          </div>
        </div>
      </div>
      
      <!-- Card 6: Artist -->
      <div class="col">
        <div class="card border-0" style="width: 100%; height: 150px;">
          <img src="https://media.gettyimages.com/id/90557468/photo/india-bollywood-singer-sonu-nigam-during-haath-se-haath-milaa-an-aids-awareness-tv-show-aired.jpg?s=612x612&w=0&k=20&c=WF6LYcgXdJjOrdQoe6alBB-vQo6t39BOjyKx_9YicyU=" 
               alt="Kailash Kher" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body p-1" style="height: 70px;">
              <h6 class="card-title fs-6 text-white">Sonu Nigam</h6>
        </div>
    </div>
      </div>
    </div>
  </div>
  