{% load static %}
<style>
  <style>
    
  
  </style>
  
</style>
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid"A>
    <a class="navbar-brand" href='#'>
      <img src="{% static 'core/images/logo1.png' %}" alt="Brand Logo" width="50" height="50"><strong style='color:white'>Poison<span style='color:green'>Wavess</span> </strong>
    </a>

    <div class="d-flex align-items-center gap-2">
        <form class="d-flex me-3">
          <input class="form-control rounded-pill" type="search" placeholder= "What's your pick?" aria-label="Search">
        </form>
        
       
        <a class="nav-link" href="#"><i class="bi bi-house-door-fill" style="font-size: 30px; color: white;"></i></a>
        
        
        <div class="dropdown me-1 position-relative">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background: transparent; border: none;">
            <i class="bi bi-person-circle" style="font-size: 30px; color: rgba(255, 132, 0, 0.7);"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="#">My Playlist</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
